<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ProjectXenonLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
 <userSettings>
  <ProjectXenonLauncher.Properties.Settings>
   <setting name="Locale" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="HeadRGB" serializeAs="String">
    <value>245, 205, 48</value>
   </setting>
   <setting name="HeadID" serializeAs="String">
    <value>24</value>
   </setting>
   <setting name="LeftArmRGB" serializeAs="String">
    <value>245, 205, 48</value>
   </setting>
   <setting name="LeftArmID" serializeAs="String">
    <value>24</value>
   </setting>
   <setting name="TorsoRGB" serializeAs="String">
    <value>13, 105, 172</value>
   </setting>
   <setting name="TorsoID" serializeAs="String">
    <value>23</value>
   </setting>
   <setting name="RightArmRGB" serializeAs="String">
    <value>245, 205, 48</value>
   </setting>
   <setting name="RightArmID" serializeAs="String">
    <value>24</value>
   </setting>
   <setting name="LeftLegRGB" serializeAs="String">
    <value>75, 151, 75</value>
   </setting>
   <setting name="LeftLegID" serializeAs="String">
    <value>37</value>
   </setting>
   <setting name="RightLegRGB" serializeAs="String">
    <value>75, 151, 75</value>
   </setting>
   <setting name="RightLegID" serializeAs="String">
    <value>37</value>
   </setting>
   <setting name="KeepLauncherOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Username" serializeAs="String">
    <value>Player</value>
   </setting>
   <setting name="ID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Hat1" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Hat2" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Hat3" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Shirt" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Pants" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Tshirt" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Face" serializeAs="String">
    <value>0</value>
   </setting>
  </ProjectXenonLauncher.Properties.Settings>
 </userSettings>
</configuration>
